.containerProgress{
    width: 100%;
    max-width: 1000px;
    margin-bottom: 10px;
}

.containerProgress section{
    position: relative;
    font-size: 1.5rem;
}

.containerProgress section::before{
    content: attr(data-value);
    position: absolute;
    right: 6px;
    top: 3px;
    font-size: 1.4rem;
}

.containerProgress progress{
    -webkit-appearance: none;
    border: 2px solid var(--main-box-shadow);
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
}

.containerProgress progress[value]::-webkit-progress-value{
    background-color: var(--main-title-color);
}

.containerProgress progress[value]::-webkit-progress-bar{
    background-color: #ffffff;
}

@media (min-width: 600px){
    .containerProgress section::before{
        top:2px
    }
}

