.chartContainer {
    max-width: 1000px;
    margin-top: 3rem;
    width: 100%;
    box-shadow: -10px 10px 5px var(--main-box-shadow);
    background-image: radial-gradient(#cdd0ff56 1px,transparent 0),radial-gradient(#cdd0ff4f 1px,#fefefe 0);
    background-size: 40px 40px;
    background-position: 0 0,20px 20px;
    border-radius: 8px;
    border: 2px solid var(--main-box-shadow);
    margin: 0;
    padding-right: 3rem;
    fill: var(--main-subtitle-color);
}

.chartTooltip {
    color: var(--main-title-color);
    background-color: rgba(10, 10, 10, 0.2);
    border: 2px solid var(--text-subtitle-color);
    padding: 5px 10px;
    border-radius: 8px;
    text-align: left;
    width: 12em;
}
