.container {
  max-width: 800px;
  width: 100%;
}

.table {
  background: #fafafa;
  border-radius: 8px;
  border: 2px solid var(--main-border);
  font-size: 1rem;
  margin: 2rem 0;
  max-width: 1000px;
  width: 100%;
  box-shadow: -10px 10px 5px var(--main-box-shadow);

}

.table th {
  display:none;
}

.table tr.totals{
    background-color: var(--main-box-shadow);
}

.table tr.totals:hover{
  background-color: var(-main-box-shadow-light)!important;
}

.table tr.row:hover{
  background-color: var(--main-box-shadow-light);
}

.table tr td:not(:first-child):not(.mobileCell){
  display: none;
}

.text{
  float: left;
  font-size: .9rem;
}

.mobileCell{
  font-size: .8rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
@media (min-width: 600px){
  

  .table th {
    display: table-cell;
    border-bottom: 2px solid var(--main-border);
    padding: 4px;
    font-size: .8rem;
  }

  .table tr td:not(.mobileCell){
    display: table-cell!important;
  }

  .number{
    display: inherit;
    float: right;
    font-size: .9rem;
  }

  .mobileCell{
    display: none!important;
  }
}